.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6); /* Fundo semitransparente */
}

/* Centraliza o conteúdo do modal */
.modal-content {
    background-color: white;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Reduz a largura para se ajustar melhor ao mobile */
    max-width: 300px; /* Define uma largura máxima */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilização dos botões no modal */
button {
    width: 100%; /* Botões ocupam 100% da largura em dispositivos móveis */
    margin: 10px 0;
    padding: 15px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 18px; /* Aumenta o tamanho da fonte para melhor legibilidade no mobile */
    cursor: pointer;
    border-radius: 5px;
}

button#cancelBtn {
    background-color: red;
}

button:hover {
    opacity: 0.9;
}

/* Estilização de outros elementos */
.text-content {
    margin-bottom: 10px;
    font-size: 16px; /* Ajusta o tamanho da fonte para mobile */
}

.actions a {
    display: block;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

.actions a.excluir {
    background-color: red;
}

/* Estiliza o botão de voltar */
.voltar {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    background-color: #6c757d;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}