body{
    padding: 90px;
}


.ullista {

    list-style-type: none;
    padding: 0;
    margin: 0 auto; /* Centraliza a lista */
    width: 100%;
    max-width: 600px;
}

.lilista {
    border-radius: 8px;
    padding: 16px;
    margin: auto;
    background-color: #3992DF;
    display: flex;
    flex-direction: column; /* Organiza os elementos em uma coluna */
    justify-content: space-between;
    align-items: flex-start;
   
}

.title {
    color: #3992DF;
    font-size: 22PX;
    padding: 20px;
}

.text-content {
    color: white;
    
}

.actions {
    display: flex;
    align-items: flex-end;
    width: 100%;
    gap: 5px;
    margin-top: -100px;
}

/* Estilo para os links de editar e excluir */
.ee {
    text-align: center;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    color: #3992DF;
    background-color: #ABFB0B;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.ee:hover {
    text-decoration: underline;
}

/* Estilo para o botão de voltar */
.botaovoltar {
    text-align: center;
    margin-top: auto; /* Empurra o botão para o final da caixa */
    width: 100%;
}

.voltar {
    margin-top: -30px;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ABFB0B;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.voltar:hover {
    background-color: #83c500;
}

.title {
    color: #3992DF;

}



